*{
    font-family: roboto;
}

img {
    width: 450px;
    max-width: 100%;
    height: auto;
  }

h1, h2, h3 {
   
    color: black;
}
.Header {
    color: black;
    font-size: 43pt;

    text-align: center;
    
}

body {
  background-color:white;
  color: black;
  }




  #Choice {
    background: lightgray;
    float: bottom;
    width: 45%;
    height: 100%;
    margin: 0 auto;
    padding-top: 1%;
    text-align: center;
    
   
    
    
  }
  
  #Results {
    background-color:lightgrey;
    float: top;
    width: 45%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 15pt;
    font-weight: 300;
    color: black;
    
  }


  #resText {
      
      font-size: 0.5em;
      color: black;
  }

  #cap {
      padding: 5%;
      color: black;
  }
.btns {
    margin-top: 3em;

}

    /*BUTTONS*/

    .btn1 {
      border: none;
      padding: 15px 50px;
      margin:10px 4px;
      color: rgb(0, 0, 0);
      /*font-family: sans-serif;*/
      text-transform: uppercase;
      text-align: center;
      position: relative;
      text-decoration: none;
      display:inline-block;   
    }
    
    .btn1::before {
      content: '';
      position: absolute;
      bottom: 0%;
      left: 0px;
      width: 100%;
      height: 4px;
      background: darkred;
      display: block;
      -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
      transform-origin: right top;
      -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
      transform: scale(0, 1);
      -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
      transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
    }
    
    .btn1:hover::before {
      -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
      transform-origin: left top;
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1)
    }

    .btn2 {
        position: inherit;
        padding: 15px 25px;
        margin-top: 20px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: darkred;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
        width:30%;
      }

      .btn2:hover {
        background-color: red;
    }
    
    .btn2:active {
      background-color: darkred;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
  
   footer {
    font-size: large;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    }